<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" parallel="classes">
<listeners>
<listener class-name ="Listener_Demo.ListenerTest"/>
</listeners>
	<test name="testGuru">
		<groups>
			<run>
				<include name="P1" />
			</run>
		</groups>
		<classes>
			<class name="com.AutomationConceptsPractice.ParallelExecution">
				
			</class>
			<class name="com.AutomationConceptsPractice.AlertsInSelenium"></class>


		</classes>
	</test>
</suite>